/* Classi Generali/Utilities*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.color-white {
  color: white;
}

.padding-m {
  padding: 1rem;
}

/* contenuto principale*/

body {
  display: flex;
  flex-direction: column;
}

.main-container {
  height: 90vh;
  overflow: hidden;
  background-color: rgb(233, 233, 173);
  display: flex;
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  min-width: 200px;
  width: 200px;
  background-color: black;
}

.nav-main-content-container {
  border: 1px dashed black;
  width: 100%;
  height: 50%;
}

.nav-logo {
  padding-bottom: 1.5rem;
}

.nav-elements {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding-bottom: .5rem;
}

.nav-elements img{
  width: 25px;
  aspect-ratio: 1/1;
}

.nav-main-content-container h4 {
  padding: .5rem 0px;
}

.fa-square-plus {
  font-size: 2rem;
}

.playlist-list div{
  color: rgb(111, 111, 111);
  padding-bottom: .5rem;
}

.nav-footer-container {
  border: 1px dashed black;
  width: 100%;
  height: 10%;
}

.main-content-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: aqua;
}

.upper-bar-container {
  height: 100px;
  width: 100%;
  background-color: blue;
} 

.content-container {
  overflow: auto;
}

.bottom-bar {
  width: 100%;
  background-color: rgb(40, 40, 40);
  height: 10vh;
  min-height: 70px;
  position: fixed;
  bottom: 0;
}

@media screen and (max-width: 480px) {

  .nav-container {
    width: 70px; /*si può togliere quando aggiungi il contenuto in content-container*/
    min-width: 70px;
  }
}