/* Classi Generali/Utilities*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.color-white {
  color: white;
}

.padding-m {
  padding: 1rem;
}

/* contenuto principale*/

body {
  display: flex;
  flex-direction: column;
}

.main-container {
  height: 90vh;
  overflow: hidden;
  background-color: rgb(233, 233, 173);
  display: flex;
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  min-width: 200px;
  background-color: black;
}

.nav-main-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.nav-logo-m {
  padding-bottom: 1.5rem;
}

.nav-logo-small {
  display: none;
}

.nav-elements {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding-bottom: .5rem;
}

.nav-elements img {
  width: 25px;
  aspect-ratio: 1/1;
}

.nav-main-content-container h4 {
  padding: .5rem 0px;
}

.fa-square-plus {
  font-size: 2rem;
}

.playlist-section {  
  display: flex;
  flex-direction: column;
  overflow: hidden; 
}

.playlist-section .playlist-name{
  color: rgb(111, 111, 111);
  padding-bottom: .5rem;
}

.playlist-list {
  overflow: auto;
}

.nav-footer-container {
  border: 1px dashed black;
  width: 100%;
  padding: .5rem 1rem;
}

.nav-footer-container > div {
  display: flex; 
  align-items: center;
  gap: .4rem;
  padding: .5rem;
}

.nav-footer-download img, .nav-footer-download span{
  color: rgb(111, 111, 111);
} 

.nav-footer-container img {
  width: 20px;
  aspect-ratio: 1/1;
}

.nav-footer-user img {
  background-color: rgb(124, 124, 124);
  border-radius: 50%;
}

.main-content-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: aqua;
}

.upper-bar-container {
  height: 100px;
  width: 100%;
  background-color: blue;
  overflow: hidden;
} 

.content-container {
  overflow: auto;
}

.bottom-bar {
  width: 100%;
  background-color: rgb(40, 40, 40);
  height: 10vh;
  min-height: 70px;
}

@media screen and (max-width: 480px) {

  .nav-container {
    min-width: 40px;
  }

  .nav-elements span,
  .playlist-section {
    display: none;
  }

  .nav-logo-m {
    display: none;
  }

  .nav-logo-small {
    display: block;
    width: 25px;
    padding-bottom: 1rem;
  }

  .nav-footer-container span,
  .nav-footer-container hr{
    display: none;
  }

  .nav-footer-container > div{
    justify-content: center;
    padding: .5rem 0px;
    width: 25px;
  }
}