/* Classi Generali/Utilities*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.color-white {
  color: white;
}

.padding-m {
  padding: 1rem;
}

.border-circle {
  border-radius: 50%;
}

/* contenuto principale*/

body {
  display: flex;
  flex-direction: column;
}

.main-container {
  height: 85vh;
  overflow: hidden;
  background-color: rgb(233, 233, 173);
  display: flex;
}

/*  Navbar  */
.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  min-width: 200px;
  background-color: black;
}

.nav-main-content-container {
  margin: 1rem 0rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.nav-logo-m {
  padding-right: 2rem;
  padding-bottom: 1.5rem;
}

.nav-logo-small {
  display: none;
}

.nav-elements {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding-bottom: .5rem;
}

.nav-elements img {
  width: 25px;
  aspect-ratio: 1/1;
}

.nav-container span,
.nav-container h4,
.nav-container i {
  color:rgb(126, 126, 126);
}

.home, .search, .library {
  padding-left: 2px;
  border-left: 3px solid transparent;

}

.home:hover, .search:hover, .library:hover {
  border-color:rgb(173, 255, 47);
}

.nav-main-content-container h4 {
  padding: .5rem 0px;
}

.fa-square-plus {
  font-size: 2rem;
}

.playlist-section {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.playlist-section h4:first-child {
  color: white;
}

.playlist-section .playlist-name{
  color: rgb(111, 111, 111);
  padding-bottom: .5rem;
}

.playlist-list {
  overflow: auto;
  scrollbar-color: red;
}

.nav-footer-container {
  border: 1px dashed black;
  width: 100%;
  padding: .5rem 1rem;
}

.nav-footer-container > div {
  display: flex; 
  align-items: center;
  gap: .4rem;
  padding: .5rem;
}

.nav-footer-download img, .nav-footer-download span{
  color: rgb(111, 111, 111);
} 

.nav-footer-container img {
  width: 20px;
  aspect-ratio: 1/1;
}

.nav-footer-user img {
  background-color: rgb(124, 124, 124);
  border-radius: 50%;
}

.nav-container span:hover,
.nav-container h4:hover,
.nav-container i:hover,
.playlist-name:hover,
.playlist-section .nav-elements:hover i, 
.playlist-section .nav-elements:hover span {
  color: white;
}

.nav-footer-user h4 {
  color: white;
}

/* Main content */

.main-content-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: rgb(20, 25, 34);
}

.upper-bar-container {
  width: 100%;
  background-color: rgb(8, 11, 18);
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.5rem .5rem;
} 

.upgrade-btn {
  font-size: .7rem;
  padding: .7rem 3rem;
  border-radius: 40px;
  border: 2px solid white;
  background-color: transparent;
}

.upgrade-btn:hover {
  transform: scale(1.05);
}

.content-container {
  overflow: auto;
}

.navigation-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.navigation-menu-element span {
  color: rgb(121, 124, 128);
  font-size: .8rem;
  padding-bottom: .4rem;
}

.navigation-menu-element hr {
  margin: auto;
  height: 3px;
  background-color: rgb(173, 255, 47);
  border: none;
  max-width: 0%;
  border-radius: 5px;
}

.navigation-menu-element:hover span{
  color: white;
}

.navigation-menu-element:hover hr {
  animation-name: linear-growing;
  animation-duration: .2s;
  animation-timing-function: linear;
  max-width: 50%;
}

@keyframes linear-growing {
  0% {
    max-width: 0%;
  }

  100% {
    max-width: 50%;
  }
}

.cards-row {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row-title {
  padding-bottom: 1rem;
}

.cards-row p {
  color: rgb(122, 125, 129);
  padding: .5rem 0rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

.card {
  width: calc((100% / 6) - 1rem);
}

.card img {
  width: 100%;
  aspect-ratio: 1/1;
}

.cards-image {
  position: relative;
}

.cards-image .layover-play {
  display: none;
}

.cards-image:hover .layover-play {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 3rem;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.cards-image:hover .layover-play:before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);  
}

.card h3, .card p {
  text-align: center;
}

.bottom-bar {
  width: 100%;
  background-color: rgb(40, 40, 40);
  height: 15vh;
  min-height: 100px;
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
  justify-content: space-around;
  gap: 1rem;
}

.bottom-bar > div {
  flex-basis: calc(100% / 3);
  flex-shrink: 1;
}

.bottom-bar-element{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bottom-bar-element-left {
  justify-content: flex-start;
}

.bottom-bar-element-right {
  justify-content: flex-end;
}

.bottom-bar-element img{
  width: 50px;
  aspect-ratio: 1/1;
}

.bottom-bar-element-text {
  padding-right: 1rem;
}

.bottom-bar-element-text > p:hover {
  cursor: pointer;
  color: white;
  text-decoration: underline;
}

.bottom-bar-element-icons {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.bottom-bar-element-icons > i:hover,
.bottom-bar-element-right > i:hover {
  cursor: pointer;
  color: white;
}

.bottom-bar-element-text p, .bottom-bar-element i {
  color: rgb(135, 135, 135);
}

.bottom-bar-player {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.music-actions {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.music-actions .fa-circle-play {
  font-size: 1.5rem;
}

.music-actions > i:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.music-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.music-bar {
  width: 500%;
  height: 5px;
  background-color: rgb(90, 90, 90);
  border-radius: 10px;
}

.played-music-bar {
  width: 50%;
  height: 100%;
  background-color: rgb(193, 193, 193);
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bar-progress-point {
  width: 10px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.bar-progress-point:hover {
  background-color: white;
  cursor: pointer;
}

.music-bar.mini-bar {
  width: 20%;
}

@media screen and (max-width:1000px) {
  .card {
    width: calc((100% / 4) - 1rem);
  }
}

@media screen and (max-width:700px) {
  .card {
    width: calc((100% / 2) - 1rem);
    min-width: 100px;
  }
}


@media screen and (max-width: 600px) {

  .nav-container {
    min-width: calc(30px + 1rem);
  }

  .nav-main-content-container {
    margin-left: .5rem;
    margin-right: .5rem;
  }

  .nav-elements span,
  .playlist-section {
    display: none;
  }

  .nav-logo-m {
    display: none;
  }

  .nav-logo-small {
    display: block;
    width: 25px;
    padding-bottom: .7rem;
    margin-left: 3px;
  }

  .nav-footer-container span,
  .nav-footer-container hr{
    display: none;
  }

  .nav-footer-container > div{
    justify-content: center;
    padding: .5rem 0px;
    width: 25px;
  }

  .nav-footer-user h4 {
    display: none;
  }
}